.landing_page {
  min-height: 100vh;
  width: 100%;
  background: #242629 url("../../assests/img/wave (1).svg") no-repeat bottom;
  background-size: contain;
  display: flex;
  flex-direction: column;
  padding-top: 70px 30px 30px 30px;
}

.intro {
  animation: leftFloat 0.8s cubic-bezier(0, 0.07, 0, 0.92) 1;
}

.intro h1 {
  color: #fffffe;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 400;
}

.intro h1:nth-child(2) {
  font-weight: 600;
}

.intro_role {
  color: #2cb67d;
}

.intro_area {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

.swipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-start;
  margin-top: auto;
  margin-bottom: 50px;
  animation: popInOut 1.5s ease-in infinite;
}

.profile {
  animation: picblips 0.9s cubic-bezier(0, 0.07, 0, 0.92);
}

.profile_pic {
  height: 450px;
  width: 450px;
  border-radius: 50%;
}

.github_pic {
  height: 50px;
  width: 50px;
  filter: invert(97%) sepia(22%) saturate(470%) hue-rotate(341deg)
    brightness(119%) contrast(101%);
  cursor: pointer;
}

.linkedin_pic {
  height: 50px;
  width: 50px;
  filter: invert(97%) sepia(22%) saturate(470%) hue-rotate(341deg)
    brightness(119%) contrast(101%);
  margin: 10px 25px 0 0;
  cursor: pointer;
}

.arrow_down {
  height: 45px;
  width: 45px;
  filter: invert(97%) sepia(22%) saturate(470%) hue-rotate(341deg)
    brightness(119%) contrast(101%);
}

@keyframes leftFloat {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes popInOut {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@keyframes picblips {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@media screen and (min-width: 300px) and (max-width: 700px) {
  .intro_area {
    flex-wrap: wrap;
    padding: 15px;
    margin-top: 70px;
  }

  .intro h1 {
    font-size: 35px;
  }

  .github_pic {
    height: 35px;
    width: 35px;
  }

  .linkedin_pic {
    height: 35px;
    width: 35px;
  }

  .profile_pic {
    height: 350px;
    width: 350px;
  }

  .swipe {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
  .intro_area {
    flex-wrap: wrap;
  }

  .intro h1 {
    font-size: 40px;
  }

  .github_pic {
    height: 40px;
    width: 40px;
  }

  .linkedin_pic {
    height: 40px;
    width: 40px;
  }

  .profile_pic {
    height: 400px;
    width: 400px;
  }
}
