.footer {
  width: 100%;
  background-color: #242629;
}

.go_up {
  background: rgb(22, 22, 26);
  background: linear-gradient(
    180deg,
    rgba(22, 22, 26, 1) 50%,
    rgba(36, 38, 41, 1) 50%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.go_up button {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
  background-color: #2cb67d;
  color: #fffffe;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 2px;
}

.social_share {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.social_share a {
  height: 40px;
  width: 40px;
  filter: invert(97%) sepia(22%) saturate(470%) hue-rotate(341deg)
    brightness(119%) contrast(101%);
  margin: 10px;
  cursor: pointer;
}

.social_share a img {
  height: 100%;
  width: 100%;
}
