.project_block {
  height: 350px;
  width: 500px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.project_block img {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  border-radius: 20px;
}
