.resume {
  background-color: #16161a;
  min-height: 100vh;
  width: 100%;
  padding: 70px 30px 30px 30px;
}

.resume_content {
  display: grid;
  margin: auto;
  width: 90%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  margin-top: 100px;
  height: 450px;
  /* padding: 50px; */
}

.education {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: 20px;
  height: 380px;
  border-right: 2px solid #262a2e;
}

.education_content {
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding-right: 50px;
}

.work_content {
  grid-column: 2/3;
  grid-row: 1/2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 50px;
}

.education_head {
  font-size: 33px;
  color: #fffffe;
  font-family: "Righteous", cursive;
  margin-bottom: 30px;
}

.work_head {
  font-size: 33px;
  color: #fffffe;
  font-family: "Righteous", cursive;
  margin-bottom: 30px;
}

.work {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 380px;
  margin-left: 20px;
  border-left: 2px solid #262a2e;
}

.resume_block {
  min-height: 200px;
  width: 100%;
  background-color: #262a2e;
  font-size: 20px;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

.education_block::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #1cb698;
  border-radius: 10px;
  width: 50px;
  right: -50px;
  height: 2px;
  top: 50%;
  z-index: 2;
}

.education_block::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #1cb698;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 50%;
  right: -62px;
  border: 2px solid #1cb698;
  z-index: 2;
  transform: translateY(-45%);
}

.education_block {
  border-right: 3px solid #2cb67d;
  position: relative;
}

.work_block {
  border-left: 3px solid #2cb67d;
  position: relative;
}

.work_block::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #1cb698;
  border-radius: 10px;
  width: 50px;
  left: -50px;
  height: 2px;
  top: 50%;
  z-index: 2;
}

.work_block::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #1cb698;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 50%;
  left: -60px;
  border: 2px solid #1cb698;
  z-index: 2;
  transform: translateY(-45%);
}

.work_block p:nth-child(3) {
  font-size: 16px;
}

.work_block span {
  color: #2cb67d;
}

.education_block-2 span {
  color: #2cb67d;
  margin: 0;
}

.education_block-3 {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
